@import url(https://fonts.googleapis.com/css?family=Lato:100);


body {
	
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background:
		linear-gradient(
			rgba(0, 0, 0, 0.2),
			rgba(0, 0, 0, 0.2)
		),
		url(http://www.nova-institut.de/bbe/media/2012/12/Antelope-Canyon.jpg);
	background-size: cover;
	height: 100vh;
}

.resources {
	position: absolute;
	top:1%;
	left:-6.5%;
	transform: translate(50%, 50%);
	color: white;
	text-align: right;
}

.contact {
	position: absolute;
	top:8%;
	right: 8%;
	transform: translate(50%, 50%);
	color: white;
	text-align: right;
}

.portfolio {
	position: absolute;
	top:1%;
	right:8%;
	transform: translate(50%, 50%);
	color: white;
	text-align: right;
}

.about {
	position: absolute;
	top:15%;
	right:8%;
	transform: translate(50%, 50%);
	color: white;
	text-align: right;
}

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
}

h1 {
	text-transform: uppercase;
	margin: 0;
	font-size: 6rem;
	white-space: nowrap;
}

h2 {
	text-transform: uppercase;
	font-size: 5.5rem;
	margin: 0;
	text-align: center;
	white-space: nowrap;
}

p {
	margin: 2px;
	font-size: 2rem;
	text-align: center;
}

