@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300);


body {
	
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background:
		linear-gradient(
			rgba(0, 0, 0, 0.2),
			rgba(0, 0, 0, 0.2)
		),
		url(http://cdn.allwallpaper.in/wallpapers/3840x2400/9683/trees-forest-germany-sunlight-hdr-photography-pine-3840x2400-wallpaper.jpg);
	background-size: cover;
	height: 100vh;
}

.resources {
	position: absolute;
	top:1%;
	left:-6.5%;
	transform: translate(50%, 50%);
	color: white;
	text-align: right;
}

.signup {
	position: absolute;
	top:1%;
	right:15%;
	transform: translate(50%, 50%);
	color: white;
	text-align: right;
}

.login {
	position: absolute;
	top:1%;
	right:6%;
	transform: translate(50%, 50%);
	color: white;
	text-align: right;
}

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
}

h1 {
	margin: 0;
	font-size: 8rem;
	white-space: nowrap;
}

h2 {
	text-transform: uppercase;
	font-size: 5rem;
	text-align: center;
	margin:10px;
	padding:10px;
}

p {
	margin: 0;
	font-size: 2rem;
	text-align: center;
}

main {
	max-width: 500 px;
	margin: 20px auto;
}


.about {
	width: 300px; margin: 60px; padding:20px;
	font-size: 14px;
	background: #eee;
	display: inline-block;
}

.contact {
	width: 300px; padding:15px;
	font-size: 20px;
	background: #eee;
	display: inline-block;
	text-align: center;
}