@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);

body {
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background:
		linear-gradient(
			rgba(0, 0, 0, 0.1),
			rgba(0, 0, 0, 0.1)
		),
		url(https://charliegatesphoto.files.wordpress.com/2012/03/dew1.jpg);
	background-size: cover;
	height: 100vh;
}

.resources {
	position: absolute;
	top:1%;
	left:-6.5%;
	transform: translate(50%, 50%);
	color: white;
	text-align: right;
}

.signup {
	position: absolute;
	top:1%;
	right:15%;
	transform: translate(50%, 50%);
	color: white;
	text-align: right;
}

.login {
	position: absolute;
	top:1%;
	right:6%;
	transform: translate(50%, 50%);
	color: white;
	text-align: right;
}

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
}

h1 {
	text-transform: uppercase;
	margin: 0;
	font-size: 8rem;
	white-space: nowrap;
}

h2 {
	text-transform: uppercase;
	font-size: 5rem;
	text-align: center;
	margin:10px;
	padding:10px;
}

p {
	margin: 0;
	font-size: 2rem;
	text-align: center;
}

main {
	max-width: 500 px;
	margin: 20px auto;
}


.about {
	width: 300px; margin: 60px; padding:20px;
	font-size: 14px;
	background: #eee;
	display: inline-block;
}

.contact {
	width: 300px; padding:15px;
	font-size: 20px;
	background: #eee;
	display: inline-block;
	text-align: center;
}